@font-face {
  font-family: 'Gotham Pro';
  src: url('~assets/fonts/GothamPro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('~assets/fonts/GothamPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

html {
  overflow: hidden !important;
  color: $color-main;
}

.component-wrapper {
  padding: 30px;
  max-height: 90vh;
}

.v-application {
  font-weight: bold;
  color: $color-main;

  * {
    color: $color-main;
  }

  a {
    text-decoration: none;
  }

  ul, ol {
    padding-left: 0px !important;
    li {
      list-style: none;
    }
  }

  .scrollbar-thumb, .scrollbar-track-y {
    width: 4px;
  }

  .scrollbar-thumb {
    background-color: $color-main;
    opacity: .2;
  }
}
