// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$body-font-family: 'Gotham Pro', serif;
$color-pack: false !default;

$card-border-radius: 10px !default;
$sheet-border-radius: 10px !default;
$card-elevation: 0 !default;
$btn-border-radius: 5px !default;

$font-size-root: 12px;

$grid-breakpoints: (
  'xs': 0,
  'sm': 340px,
  'md': 540px,
  'lg': 830px - 30px,
  'xl': 1200px - 30px
);

